# config
php/config/bddConfig.php
*customConfig.php
composer.lock
composer.phar

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# uload
up/

# Output folder.
public/
vendor/
/package-lock.json
