<?php
  require_once PATH_TO_MEEKRODB;
  define("PREFIX_BDD", ""); // Prefixe de la BDD
  // Connexion locale sur la bdd mysql du synology
  DB::$host="localhost";
  DB::$dbName="dbname here";
  DB::$user="dbuser here";
  DB::$password="dbpassword here";
  DB::$error_handler = false;
  DB::$throw_exception_on_error = true;
?>
