AddDefaultCharset UTF-8
Options +FollowSymlinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^jeu\.goupill\.fr [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI}
RewriteRule ^api/ ./api.php [L]
